:root {
    --light900: #ffffff;
    --dark500: #5b584f;
    --dark100: #1d1c1a;
    --background: #353431;
    
    --o-color: #f7e282;
    --x-color: #F79E6B;
    
    --restart: #75a768;
    --text-winn: #E0D5AD;
}